<!DOCTYPE html>
<html>

<head>
	<link href="http://fonts.googleapis.com/css?family=Corben:" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="https://unpkg.com/vue-simple-search-dropdown@latest/dist/vue-simple-search-dropdown.min.js">

	</script>
	<script src="https://unpkg.com/vue">

	</script>
	<style>
		@import './style.css';
	</style>
</head>

<body>

	<div class="header">
		<h1>ViewNUS</h1>
		<p>Find everything you need to know about NUS Modules!
		</p>
	</div>

	<div class="topnav">
		<a href="#">About ViewNUS</a>
		<a href="#">CORS Reviews</a>
		<a href="#">Informal Reviews</a>
		<a href="#" style="float:right">Back</a>
	</div>

	<div id="app" class="main_content">
		<h1>Module Overview</h1>
		<div class="grid-container">
			<div class="score">
				<h3>{{charts.module_info.code}}</h3>
				<h3>{{charts.module_info.title}}</h3>
			</div>
			<div class="card">
				<p>{{charts.module_info.description}}</p>
			</div>
		</div>
		<h1>Overall Sentiment</h1>
		<div class="grid-container">
			<!-- Sentiment score -->
			<div v-if="charts.sentiment" class="score">
				<ve-gauge :data="charts.sentiment" :settings="{
                                seriesMap: {
                                    'score':{ 
                                            min:0, 
                                            max:10,
                                            axisLine: { 
                                                lineStyle: { 
                                                    color: [[0.2, '#3E9CD1'],[0.8, '#0576BF'],[1, '#004EA5']], 
                                                } 
                                            },
                                        },
                                },
                            }">
				</ve-gauge>
				<p>0: Bad -- 10: Execellent</p>
			</div>
			<!-- Overall opinion -->
			<div v-if="charts.overall_opinion" class="card">
				<p>Overall Opinion</p>
				<ve-histogram :data="charts.overall_opinion" :legend-visible="false" :settings="{
                                        itemStyle: {
                                            'color':'#004EA5'
                                        },
                                    }">
				</ve-histogram>
			</div>
			<!-- Good text wordcloud -->
			<div v-if="charts.review_good_text" class="card1">
				<p>What do students like?</p>
				<ve-wordcloud :data="charts.review_good_text">
				</ve-wordcloud>
			</div>
			<!-- Bad text wordcloud -->
			<div v-if="charts.review_bad_text" class="card2">
				<p>What do students dislike?</p>
				<ve-wordcloud :data="charts.review_bad_text">
				</ve-wordcloud>
			</div>
		</div>
		<h1>Difficulty Level</h1>
		<div class="grid-container">
			<!-- Difficulty level -->
			<div v-if="charts.difficulty_level" class="score">
				<ve-gauge :data="charts.difficulty_level" :settings="{
                                        seriesMap: {
                                            'score':{ 
                                                    min:0, 
                                                    max:10,
                                                    axisLine: { 
                                                        lineStyle: { 
                                                            color: [[0.2, '#3E9CD1'],[0.8, '#0576BF'],[1, '#004EA5']], 
                                                        } 
                                                    },
                                                },
                                        },
                                    }">
				</ve-gauge>
				<p>0: Easy -- 10: Very Difficult</p>
			</div>
			<!-- Expected Grade -->
			<div v-if="charts.expected_grade" class="card">
				<p>Expected Grade</p>
				<ve-histogram :data="charts.expected_grade" :legend-visible="false" :settings="{
                                        itemStyle: {
                                            'color':'#004EA5'
                                        },
                                    }">
				</ve-histogram>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue">

	</script>
	<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js">

	</script>
	<script src="https://unpkg.com/vuefire/dist/vuefire.js">

	</script>
	<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js">

	</script>
	<script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js">

	</script>
	<script src="https://unpkg.com/echarts-wordcloud@1.1.3/dist/echarts-wordcloud.js">

	</script>

	<script>
		var db = firebase.initializeApp({ databaseURL: 'https://bt3103-review-for-review.firebaseio.com/' }).database()
		  var chartsRef = db.ref('BT3103')
			new Vue({ 
		    el: '#app',
		    firebase: {
		      charts: {
		        source: db.ref('BT3103'),
		      // optionally bind as an object 
		        asObject: true, 
		      }
		    }
		  })
	</script>
</body>

</html>